/* ---------------------------------- */
/* general reset                      */
/* ---------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  color-scheme: dark light;
}

html:focus-within {
  scroll-behavior: smooth;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  line-height: 1.5;
  scrollbar-gutter: stable;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

a:not([class]) {
  text-decoration-thickness: max(0.08em, 1px);
  text-underline-offset: 0.15em;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button {
  color: inherit;
  cursor: pointer;

  border: 1px solid transparent;
  background-color: inherit;
}

/* ---------------------------------- */
/* custom properties                  */
/* ---------------------------------- */

:root {
  /* colors */
  --clr-text-red: 356, 100%, 66%; /* CTA text */
  --clr-text-dark-blue: 208, 49%, 24%; /* headings */
  --clr-text-white: 0, 0%, 100%; /* body text */
  --clr-text-blue: 207, 13%, 34%; /* body text */
  --clr-text-light-gray: 240, 2%, 79%; /* footer text */
  
  --clr-bg-light-red: 355, 100%, 74%; /* CTA hover background */
  --clr-bg-dark-blue: 240, 10%, 16%; /* footer background */
  --clr-bg-white: 0, 0%, 100%;
  --clr-bg-light-gray: 0, 0%, 98%;

  --clr-gradient-red: linear-gradient(135deg, hsl(13, 100%, 72%) 0%, hsl(353, 100%, 62%) 100%);
  --clr-gradient-blue: linear-gradient(135deg, hsl(237, 17%, 21%) 0%, hsl(237, 23%, 32%) 100%);

  /* typography */
  --ff-overpass: 'Overpass', sans-serif;
  --ff-ubuntu: 'Ubuntu', sans-serif;

  --fs-200: clamp(0.5625rem, 0.7408rem + -0.1981vw, 0.6944rem);
  --fs-300: clamp(0.75rem, 0.8624rem + -0.1249vw, 0.8331rem);
  --fs-400: clamp(1rem, 1rem + 0vw, 1rem);
  --fs-500: clamp(1.2rem, 1.1531rem + 0.2vw, 1.3331rem);
  --fs-600: clamp(1.44rem, 1.3214rem + 0.5061vw, 1.7769rem);
  --fs-700: clamp(1.7281rem, 1.5026rem + 0.9624vw, 2.3688rem);
  --fs-800: clamp(2.0738rem, 1.6921rem + 1.6282vw, 3.1575rem);
  --fs-900: clamp(2.4881rem, 1.8823rem + 2.585vw, 4.2088rem);
}

/* ---------------------------------- */
/* utility classes                    */
/* ---------------------------------- */

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.flow + .flow {
  margin-block-start: 2em;
}

.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 80%;
  --middle-gap: 2rem;
  --column-width: calc((var(--content-max-width) / 2) - var(--middle-gap));


  display: grid;
  grid-template-columns: 
  [full-width-start] minmax(var(--padding-inline), 1fr)
  [column-left-start]  min(50% - var(--padding-inline), var(--column-width))
  [column-left-end middle-gap-start] var(--middle-gap)
  [middle-gap-end column-right-start]  min(50% - var(--padding-inline), var(--column-width))
  [column-right-end] minmax(var(--padding-inline), 1fr)
  [full-width-end];
  grid-auto-flow: dense;
}

.content-grid > :not(:is(.col-left, .col-right)) {
  grid-column: column-left-start / column-right-end;
}

.content-grid > .col-left {
  grid-column: column-left;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-grid > .col-left--full-width {
  grid-column: full-width-start / column-left-end;
}

.content-grid > .col-right {
  grid-column: column-right;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-grid > .col-right--full-width {
  grid-column: column-right-start / full-width-end;
}

@media (max-width: 40em) {
  .content-grid {
    grid-template-columns: 
      [full-width-start] 2rem
      [content-start] 1fr
      [content-end] 2rem
      [full-width-end];
  }

  .content-grid > :not(:is(.col-left, .col-right)) {
    grid-column: content;
  }

  .content-grid > :is(.col-left, .col-right) {
    grid-column: content;
  }
}

.text-center {
  text-align: center;
}

/* ---------------------------------- */
/* components                         */
/* ---------------------------------- */

.action-buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.5em 1em;

  font-weight: 600;
  text-box-edge: cap alphabetic;
	text-box-trim: both;

  border-radius: 3rem;

  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn:not(.btn--bg, .btn--border):hover {
  text-underline-offset: 0.2rem;
  text-decoration: underline;
}

.btn--border {
  border-color: var(--clr-text-white);
}

.btn--border:is(:hover, :focus) {
  background-color: hsl(var(--clr-bg-white));
  color: hsl(var(--clr-text-red));
}

.btn--bg {
  background-color: hsl(var(--clr-bg-white));
  color: hsl(var(--clr-text-red));
}

.btn--bg:is(:hover, :focus) {
  background-color: hsl(var(--clr-bg-light-red));
  color: hsl(var(--clr-text-white));
}

.section-title {
  font-size: var(--fs-600);
  color: hsl(var(--clr-text-dark-blue));
}

.section-title--light {
  color: hsl(var(--clr-text-white));
}

.section-subtitle {
  font-size: var(--fs-500);
}

/* section__title */
/* section__subtitle */

/* ---------------------------------- */
/* general styles                     */
/* ---------------------------------- */

body {
  --border-radius: 5rem;

  font-family: var(--ff-overpass);

  background-color: hsl(var(--clr-bg-light-gray));
}

h1, h2, h3, h4 {
  font-family: var(--ff-ubuntu);
}

/* header section */

.header-section {
  position: relative;
  isolation: isolate;
  overflow: hidden;

  padding-block: 3rem 5rem;
  margin-bottom: 4rem;

  color: hsl(var(--clr-text-white));

  background: var(--clr-gradient-red);
  border-radius: 0 0 0 var(--border-radius);
}

.hero-bg {
  position: absolute;
  z-index: -1;
  left: 13rem;
  bottom: -14rem;

  scale: 2;

  @media (max-width: 24em) {
    scale: 3.5;
    left: 7rem;
    bottom: -5rem;
  }
}

header {
  display: flex;
  align-items: center;
  gap: 3rem;
}

/* primary navigation */

.primary-nav > ul {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;

  list-style-type: "";
}

.primary-nav button {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  text-underline-offset: 0.2rem;
}

.primary-nav button:is(:hover, :focus) {
  text-decoration: underline;
}

/* dialogs */

.nav-item {
  position: relative;
}

.nav-item__dialog {
  left: -1rem;
  top: 2.5rem;

  min-width: 8rem;
  padding: 1rem;

  border: none;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav-item__dialog > ul {
  display: flex;
  flex-direction: column;

  list-style-type: "";
}

.nav-link a {
  text-decoration: none;
  font-size: var(--fs-300);
  font-weight: 500;
  color: hsl(var(--clr-text-dark-blue));

  transition: font-weight 0.3s ease-in-out;
}

.nav-link a:is(:hover) {
  font-weight: 600;
}


header .action-buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  
  margin-inline-start: auto;
}

/* mobile navigation */

.mobile-nav-toggle {
  display: none;
}

#mobile-nav[data-visible="false"] {
  display: none;
}

#mobile-nav {
  display: none;

  padding: 1.5rem;

  text-align: center;

  background-color: hsl(var(--clr-bg-white));
  box-shadow: rgb(38, 57, 77, 0.7) 0px 20px 30px -10px;
  border-radius: 0.4rem;
}

#mobile-nav  ul {
  list-style: "";
}

.mobile-nav__accordions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  text-align: center;
}

.accordion__btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  margin-inline: auto;
}

.mobile-nav__accordion:has(.accordion__content.is-open) > .accordion__btn > img {
  rotate: 180deg;
}

.accordion__content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.4s ease-out;

  width: 100%;
  margin-top: 1rem;

  background-color: hsl(240, 6%, 94%);
}

.accordion__content.is-open {
  grid-template-rows: 1fr;
}

.accordion__content ul {
  overflow: hidden;
}

.accordion__content .nav-link {
  margin-block: 0.5rem;
}

#mobile-nav .action-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-block: 2rem 1rem;
  padding-top: 1rem;

  border-top: 1px solid hsl(240, 7%, 81%);
}

#mobile-nav .btn--bg {
  background: var(--clr-gradient-red);
  color: hsl(var(--clr-text-white));
}

@media (max-width: 24em) {
  .primary-nav {
    display: none;
  }

  header .action-buttons {
    display: none;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    right: 2rem;
    top: 3rem;

    width: 2rem;

    background-image: url('images/icon-hamburger.svg');
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1;
    border: 0;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("images/icon-close.svg");
  }

  #mobile-nav[data-visible="true"] {
    display: block;

    position: absolute;
    top: 7.5rem;
    left: 1.5rem;
    right: 1.5rem;
  }
}

/* hero */

.hero {
  padding-block: 4rem 2rem;

  text-align: center;
}

.hero h1 {
  font-size: var(--fs-800);
  font-weight: 300;
  line-height: 1.2;
}

.hero__action-buttons {
  width: fit-content;
  margin-inline: auto;
  margin-block-start: 2rem;
}

/* main sections */
main {
  color: hsl(var(--clr-text-dark-blue));
}

section {
  overflow-x: clip;
  overflow-y: visible;

  margin-block: 2rem;
}

section p {
  max-width: 60ch;

  font-size: var(--fs-400);
}

.section-one .section-title {
  margin-block-end: -3rem;

  @media (max-width: 70em) {
    margin-block-end: 0;
  }
}

.col-right--full-width .section-img {
  max-width: 100%;
  transform: translateX(10rem);
}



@media (max-width: 40em) {
  main {
    text-align: center;
  }

  .section-one .section-title {
    margin-block-end: 1rem;
  }

  .col-right--full-width .section-img {
    display: none;
  }

  .col-right--full-width {
    height: 20rem;
    margin-bottom: 1rem;

    background-image: url("images/illustration-editor-mobile.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}